*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:"Arial", sans-serif; 
    background-color: rgb(201, 201, 195);
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 50px auto;
}
.movie__title{
    text-align: center;
    font-size: 52px;
    margin-bottom: 24px;
}
.form{
    display: flex;
    justify-content: space-between;
}
.movie__search{
    width: 300px;
    height: 40px;
    border: 4px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 19px;
    margin-bottom: 25px;
    background-color: transparent;
}
.movie__filter{
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    margin-bottom: 25px;
}
.movie__genre{
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    margin-bottom: 25px; 
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}
.movie__btn{
    width: 200px;
    height: 40px;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
}
.movie__item{
    text-align: center;
    padding: 15px 10px;
    width: 250px;
    box-shadow: 0 10px 40px 10px rgb(139, 139, 139);
    list-style-type: none;
}
.movie__genre-list{
    list-style-type: none;
}
.movie__genre-list{
    margin:20px 
}
.movie__item{
    margin-top: 20px;
    list-style-type: none;
    width: 260px;
    padding: 10px;
    border-radius: 15px;
    background: rgb(175, 175, 175);
    background: radial-gradient(circle, rgb(49, 49, 49) 100%);
}
.movie__item-title {
    margin-bottom: 20px;
}
.movie__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
img{
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    filter: drop-shadow(1 0 0.75rem rgb(1, 0, 0));
}
h2{
    font-family: 'Cinzel', serif;
    line-height: 20px;
    margin-bottom: 5px;
}
h4{
    font-size: 13px;
}
#unList{
    width: 1450px;
    display: flex;
    margin: 0 auto ;
    flex-wrap: wrap; 
    justify-content: space-between;
}
blockquote{
    margin: 0;
    letter-spacing:1px;
    line-height: 15px;
    font-family: 'MonteCarlo';
    margin-top: 10px;
}
.date{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
}
.modal-container{
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
   margin: 0;
   background-color: rgba(0,0,0,0.3);
   position: fixed;
   opacity: 0;
   pointer-events: none;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   transition: opacity 0.3s ease;
}
.modal-container.show{
    pointer-events: auto;
    opacity: 1;
}
button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 14px;
    padding: 10px 25px;
}
.modal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}
.modal h1 {
    margin: 0;
}
.modal p{
    font-size: 14px;
    opacity: 0.7;
}